/* Format X and Y Axis */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center-div {
  text-align:center;
}

.left-div {
  text-align:right;
}

.right-div {
  text-align:left;
}

/* Graph Style */
.graph-div {
	padding:10px;
  width:100%;
	text-align:center;
}

.delta-container {
  padding:0px;
  overflow:scroll;
  height:300px;
  width:200px;
}

.delta-panel {
  padding:5px;
  margin:0px;
  height:50px;
  border-radius:0px;
}
